<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: skyblue;
        }

        input {
            margin: 10px;
            padding: 10px;
            border: 2px solid red;
            border-radius: 5px;
        }

        button {
            margin: 10px;
            padding: 10px;
            background-color: red;
            border: 2px solid yellow;
            border-radius: 10px;
            margin-left: 100px;
            margin-top: 15px;
            width: 100px;
        }

        h1 {
            color: green;
        }

        .btn {
            font-size: large;
        }
    </style>
</head>

<body>
    <form action="/" method="post">
        <h1>Please Enter Your Details:</h1>
        <input type="text" size="150" placeholder="Student name" name="fname" />
        <br />
        <input type="text" size="150" placeholder="Course" name="fcourse" />
        <br />
        <input type="number" size="150" placeholder="Age" name="fage" />
        <br />
        <input type="email" size="150" placeholder="Email Address" name="femail" />
        <br />
        <button type="submit">
            <div class="btn">submit</div>
        </button>
    </form>
</body>

</html>
